[submodule "vendor/quickjs-ng"]
	path = vendor/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs
[submodule "vendor/thorvg"]
	path = vendor/thorvg
	url = https://github.com/thorvg/thorvg
[submodule "vendor/libwebp"]
	path = vendor/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "vendor/libharu"]
	path = vendor/libharu
	url = https://github.com/libharu/libharu

[submodule "vendor/yoga"]
	path = vendor/yoga
	url = https://github.com/facebook/yoga
[submodule "vendor/lexbor_src_master"]
	path = vendor/lexbor_src_master
	url = https://github.com/lexbor/lexbor
[submodule "vendor/md4c"]
	path = vendor/md4c
	url = https://github.com/mity/md4c
