[submodule "vendor/quickjs-ng"]
	path = vendor/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs
[submodule "vendor/thorvg"]
	path = vendor/thorvg
	url = https://github.com/thorvg/thorvg
[submodule "vendor/lexbor_src_master"]
	path = vendor/lexbor_src_master
	url = https://github.com/lexbor/lexbor
[submodule "vendor/libwebp"]
	path = vendor/libwebp
	url = https://github.com/webmproject/libwebp
