# Lexbor - ignore build artifacts except essential distribution files
/vendor/lexbor_src_master/build/
/vendor/bytecode
/vendor/js_cache

/.zig-cache
/zig-out/
/.vscode/
.DS_Store
/kcov-output/
/z_mds/
.claude/
/src/examples/jsdom/
/tests/jsdom/node_modules/
tests/wasm/node_modules/