.untrusted {
  color: red;
  background-color: #ffe0e0;
  font-size: 18px;
  padding: 8px;
  background-image: url("evil.com");
}

.trusted {
  color: darkgreen;
  background-color: #e0ffe0;
  font-size: 14px;
  padding: 6px;
}
